/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.alert-error {
  text-align: center;
  position: relative;
  padding: 0.75rem 1.25rem;
  margin-top: 10px;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
  width: 300px;
}

.input-mbway {
  margin-left: 10px;
  width: 170px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}

.iftp_separator {
  display: flex;
  align-items: center;
  margin: 20px 0;
}

.iftp_separator hr {
  flex: 1;
  margin: 0 10px;
}

.iftp_separator span {
  white-space: nowrap;
  font-weight: bold;
  margin-left: 8px;
  margin-right: 8px;
}

.ifthenpay_confirm_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1em;
}

.ifthenpay_confirm_header h2 {
  margin: 0;
}

/* Mobile view - reverse order */
@media (max-width: 768px) {
  .ifthenpay_confirm_header {
    justify-content: start;
  }

  .ifthenpay_confirm_header h2 {
    display: none;
  }
}