<div class="buttons">
  <div class="pull-right">
    <input type="button" value="{{ button_confirm }}" id="button-confirm" data-loading-text="{{ text_loading }}" class="btn btn-primary" />
  </div>
</div>
<link href="{{multibancoStyle}}" rel="stylesheet" type="text/css">
<script type="text/javascript" src="{{multibancoScript}}" type></script>